
<div class="banner"></div>

<section class="about clearfix"> 

	<h2>¿Quiénes somos?</h2>

	<div class="grid_48">
		<p>Hola! Somos Alejandro, Ana, Andrés y Cristian. Somos 4 amigos, entusiastas de la programación y el diseño, que además tenemos el deseo de ayudar a aquellos animalitos que necesitan un hogar que los cuide y les de amor. </p>
	</div>

	<div class="grid_48">
		<p>Nosotros mismos hemos adoptado muchas mascotas, y sabemos la felicidad que traen a un hogar, pero también sabemos que hay muchos animales que necesitan una casa y que a veces es difícil reunir mascotas y personas que deseen adoptar.</p>
	</div>

</section>

<section class="contact">

	<div class="grid_48">
		<span>
			<p>Escríbenos al correo:</p>
			<a href="mailto:contacto@adoptamedellin.com"><i class="mail_icon"></i>contacto@adoptamedellin.com</a>
		</span>
	</div>

	<div class="grid_48">
		<span>
			<p>Seamos amigos:</p>
			<a href="https://www.facebook.com/adoptamedellin" target="_blank"><i class="facebook_icon"></i>/adoptamedellin</a>
			<a href="https://twitter.com/adoptamedellin" target="_blank"><i class="twitter_icon"></i>@adoptamedellin</a>
		</span>
	</div>

</section>

