
<div class="banner"></div>

<section class="about clearfix"> 

	<h2>¿Quiénes somos?</h2>

	<div class="grid_48">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nunc ac tellus elementum luctus elementum at dolor. Phasellus nec feugiat tortor. Nunc at nulla non dolor egestas adipiscing et sed felis. Quisque pellentesque hendrerit iaculis. Aliquam tincidunt dapibus dui, quis pharetra neque tristique at. Donec arcu est, vestibulum sed tellus sed, rutrum faucibus elit.</p>
	</div>

	<div class="grid_48">
		<p>Nunc in lorem porttitor, aliquam purus non, mattis nisi. Maecenas facilisis auctor facilisis. Integer sagittis feugiat bibendum. Nulla eros ante, pretium et sapien eu, faucibus euismod urna. Mauris odio metus, consequat non ultrices vel, ullamcorper sed lorem. Duis eu ante rutrum mi molestie pretium. Vivamus faucibus urna id luctus tincidunt. Duis nec mi sapien.</p>
	</div>

</section>

<section class="contact">

	<div class="grid_48">
		<span>
			<p>Escríbenos al correo:</p>
			<a href="mailto:adoptamedellin@gmail.com"><i class="mail_icon"></i>adoptamedellin@gmail.com</a>
		</span>
	</div>

	<div class="grid_48">
		<span>
			<p>Seamos amigos:</p>
			<a href="#"><i class="facebook_icon"></i>/adoptamedellin</a>
			<a href="https://twitter.com/adoptamedellin" target="_blank"><i class="twitter_icon"></i>@adoptamedellin</a>
		</span>
	</div>

</section>

