<h2>Preguntas frecuentes</h2>

<div class="faq div_left">

    <h3>Adopción de mascotas en AdoptaMedellin.com</h3>

    <h3>Cómo es el proceso de adopción?</h3>
    <p>AdoptaMedellin.com únicamente ayuda a poner en contacto a quien tiene la mascota y quien quiere adoptadarla. Si deseas adoptar una mascota listada en el sitio, ingresa al perfil de la mascota, y llena el formulario de adopción, luego obtendrás los datos de quien la tiene para ponerte en contacto.<br /> Nosotros estaremos pendientes de la evolución de la mascota y publicaremos si hay alguna novedad al respecto.</p>
    
    <h3>Debo pagar algo para adoptar o publicar una mascota?</h3>
    <p>AdoptaMedellin.com NO COBRA ningún dinero para la adopción de una mascota. Los propietarios iniciales de la mascota puesta en adopción tampoco deben cobrar ningún dinero puesto que la adopción no es un negocio. Si alguien te pide dinero por una mascota, por favor informanos a contacto@adoptamedellin.com</p>

    <h3>Qué debo tener en cuenta al momento de adoptar?</h3>
    <p>
        <ul>
            <li>Ser mayor de edad.</li>
            <li>Considera si tienes los recursos económicos y la disponibilidad de tiempo necesaria para atender sus necesidades.</li>
            <li>Adoptar una mascota es como adoptar un hijo, es una decisión para toda la vida de la mascota, esta será parte de tu familia y debes estar en disposición de cuidarla y ser tolerante con ella.</li>
            <li>Discutirlo con las personas que viven en tu hogar. Todos deben estar de acuerdo en adoptar para evitar malos entendidos e inconvenientes que finalmente afecten al animal.</li>
            <li>Asegurate que en tu edificio/unidad está permitido tener mascotas.</li>
            <li>Procura entender si la raza de la mascota es enérgica o calmada para determinar si es conveniente para tu estilo de vida.</li>
        </ul>
    </p>

    <h3>Qué debo hacer si ya no puedo tener la mascota que adopté?</h3>
    <p>Es muy importante que consideres todas las posibles circunstancias antes de adoptar, pero si esto sucede, te pedimos que te pongas en contacto con nosotros para decirte qué hacer. Escribenos a contacto@adoptamedellin.com</p>

    <h3>Cómo puedo denunciar alguna irregularidad?</h3>
    <p>Comunicate con nosotros a contacto@adoptamedellin.com</p>

</div>

<div class="faq div_right">

    <h3>Publicar mascotas en AdoptaMedellin.com</h3>

    <h3>Cómo es el proceso de dar una mascota en adopción?</h3>
    <p>AdoptaMedellín.com únicamente ayuda a poner en contacto a quien tiene la mascota y quien quiere adoptadarla.<br /><br />

        En la página principal encontraras un link para publicar una mascota, allí llenarás un formulario con información sobre la mascota, su salud, su ubicación en la ciudad, fotografías, etc. Una vez llenas la información, la mascota estará en proceso de aprobación. La aprobación tardará menos de una hora, a menos que haya alguna información importante que debas corregir. Luego las personas que visiten la página podrán obtener tu información de contacto para que puedan acordar la entrega de la mascota.
    </p>

    <h3>Debo pagar algo para adoptar una mascota?</h3>
    <p>NO, publicar una mascota es completamente gratis.</p>

    <h3>Qué debo tener en cuenta al momento de publicar?</h3>
    <p>Es obligatorio subir por lo menos una foto de la mascota, mientras más fotos haya, más fácil será la adopción. En lo posible, la foto debe mostrar claramente la mascota. Por último, llenar tanta información cómo sea posible de la mascota</p>

    <h3>Cuanto tarda el proceso de adopción?</h3>
    <p>Cuando haya un interesado, esta persona obtendrá tus datos de contacto de inmediato y podrá comunicarse contigo para decidir la entrega de la mascota.</p>

</div>



