<h2>Preguntas frecuentes</h2>

<div class="faq div_left">

<h3>Pregunta #1</h3>
<p>Sed dapibus arcu ut lacus tincidunt, vel facilisis augue semper. Praesent imperdiet neque at ipsum vehicula aliquet. Donec luctus purus lacus</p>

<h3>Pregunta #2</h3>
<p>Sed dapibus arcu ut lacus tincidunt, vel facilisis augue semper. Praesent imperdiet neque at ipsum vehicula aliquet. Donec luctus purus lacus</p>

<h3>Pregunta #3</h3>
<p>Sed dapibus arcu ut lacus tincidunt, vel facilisis augue semper. Praesent imperdiet neque at ipsum vehicula aliquet. Donec luctus purus lacus</p>

</div>

<div class="faq div_right">

<h3>Pregunta #4</h3>
<p>Sed dapibus arcu ut lacus tincidunt, vel facilisis augue semper. Praesent imperdiet neque at ipsum vehicula aliquet. Donec luctus purus lacus</p>

<h3>Pregunta #5</h3>
<p>Sed dapibus arcu ut lacus tincidunt, vel facilisis augue semper. Praesent imperdiet neque at ipsum vehicula aliquet. Donec luctus purus lacus</p>

<h3>Pregunta #6</h3>
<p>Sed dapibus arcu ut lacus tincidunt, vel facilisis augue semper. Praesent imperdiet neque at ipsum vehicula aliquet. Donec luctus purus lacus</p>

</div>



