<section class="clearfix">
  <div class="span4px">
    <p>AdoptaMedellin.com es un proyecto que quiere ayudar a mascotas perdidas o abandonas a conseguir un nuevo hogar. Te ayudamos a ponerte en contacto con la persona/Fundación que tiene la mascota para adoptarla. Si tienes una mascota que ya no puedes tener por cualquier razón, este también es el lugar para encontrar quién la adopte.</p>
  </div>
  <div class="span6px pull-right">
    <p>¿Tienes una mascota que busca un hogar?</p>
    <%= link_to "CLICK AQUÍ", new_adoption_pet_path, :class => "btn btn-primary" %>
  </div>
  <hr />
</section>


<div class="well clearfix">
  <h2>Adopta una de estas mascotas</h2>
  
  <ul class="clearfix">
    <%= render partial: "pet", collection: @pets %>
  </ul>
    <%= paginate @pets%>


</div>
