@media screen and (max-width: 1000px){
	/***************
	home styles
	***************/
	header a img {
		width: 45%;
		margin-top: 10px;
	}
	.well{
		padding: 0;
	}	
	section .span4px{
		margin: 10px 0 0;
		padding: 15px;
	}
	section .span6px.pull-right{
		background-position: center 20px;
		background-size: 290px;
		height: 263px;
	}
	section .span4px{
		padding: 0;
	}
	.well .single_post span{
		width: 45px;
		height: 45px;		
	}
	.well .single_post span p b{
		font-size: 20px;
	}
	/***************
	new adoption pet styles
	***************/
	#primary input[type="text"], #new_adoption_pet input[type="text"], #new_adoption_pet input[type="email"], #new_adoption_pet input[type="phone"]{
		width: 44%;
	}	
}

@media screen and (max-width: 850px) {
	/***************
	home styles
	***************/
	.container{
		width: 80%;
	}
	/***************
	new adoption pet styles
	***************/
	#primary input[type="text"], #new_adoption_pet input[type="text"], #new_adoption_pet input[type="email"], #new_adoption_pet input[type="phone"]{
		width: 42%;
	}
	#new_adoption_pet .btn{
		margin: 0;
	}
	/***************
	contact styles
	***************/
	.banner{
		background-size: 420px;
		height: 160px
	}	
}


@media screen and (max-width: 770px) {
	/***************
	home styles
	***************/
	section .span4px p{
		text-align: center;
		margin-bottom: 25px;
		padding: 0 15px;
	}
	.container{
		width: 90%;
	}
	.well > ul > li{
		width: 49%;
		margin: 0;
	}
	.well .single_post span{
		width: 55px;
		height: 55px;		
	}
	.well .single_post span p b {
		font-size: 20px;
	}
	/***************
	new adoption pet styles
	***************/
	#primary label[for="adoption_pet_pet_attributes_animal_valuegato"]{
		margin-left: 10%;
	}
	/***************
	contact styles
	***************/
	.contact .grill_48 span a { 
		display: block;
		margin: 3px 0;
	}
	.contact .twitter_icon {
		margin: 0;
	}
}

@media screen and (max-width: 600px) {
	/***************
	home styles
	***************/
	header a img {
		width: 70%;
		display: block;
		margin: 0 auto 5%;
	}
	nav{
		margin: 0 auto;
		width: 85%;
		display: block;
		float: none;
	}
	.nav.nav-pills.pull-right{
		width: 92%;
		padding: 0;
	}
	nav ul li{
		float: left;
		width: 33%;
		text-align: center;
	}
	.container{
		width: 100%;
	}
	/***************
	new adoption pet styles
	***************/
	#new_adoption_pet input[type="text"], #new_adoption_pet input[type="email"], #new_adoption_pet input[type="phone"]{
		width: 45%;
	}	
	#new_adoption_pet .btn{
		margin: 0 auto 15px;
		float: none;
	}
	.well .span5px, #new_adoption_pet input[type="text"], #new_adoption_pet input[type="email"], #new_adoption_pet input[type="phone"]{
		width: 96%;
	}
	/***************
	contact styles
	***************/
	.grill_48{
		width: 100%;
	}
	.banner{
		display: none;
	}
	.contact .grill_48 span a { 
		display: inline;
	}
	.contact .twitter_icon{
		margin: 0 5px 0 10px;
	}

}

@media screen and (max-width: 400px){
	/***************
	home styles
	***************/
	body{
		padding: 0;
	}
	.well > ul > li{
		width: 98%;
	}
	nav{
		display: block;
		float: none;
		width: 100%;
	}
	nav ul li {
		width: 100%;
	}
	.nav.nav-pills.pull-right{
		padding: 0;
		width: 100%;
	}
	hr{
		margin: 5px 0;
	}
	section .span6px.pull-right{
		height: 100px;
	}
	.well .single_post span{
		width: 55px;
		height: 55px;		
	}
	.well .single_post span p{
		width: 70%;
		font-size: 15px;
		margin-top: 8px;
	}
	/***************
	contact styles
	***************/
	.well{
		padding: 0 10px;
	}
	.about{
		padding: 0 5px;
	}
	.contact .grill_48 span{
		margin: 15px 0 0 3%;
	}
}

