@media screen and (max-width: 1000px){
	header a img {
		width: 45%;
		margin-top: 10px;
	}
	.well{
		padding: 0;
	}	
	section .span4px{
		margin: 10px 0 0;
		padding: 15px;
	}
	section .span6px.pull-right{
		background-position: center 20px;
		background-size: 290px;
		height: 263px;
	}
	section .span4px{
		padding: 0;
	}
	.well span{
		width: 45px;
		height: 45px;		
	}
	.well .single_post span p b{
		font-size: 20px;}
}

@media screen and (max-width: 850px) {
	.container{
		width: 80%;
	}
}


@media screen and (max-width: 770px) {
	section .span4px p{
		text-align: center;
		margin-bottom: 25px;
		padding: 0 15px;
	}
	.container{
		width: 90%;
	}
	.well > ul > li{
		width: 49%;
		margin: 0;
	}
	.well span{
		width: 55px;
		height: 55px;		
	}
	.well .single_post span p b {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	header a img {
		width: 70%;
		display: block;
		margin: 0 auto 5%;
	}
	nav{
		margin: 0 auto;
		width: 85%;
		display: block;
		float: none;
	}
	.nav.nav-pills.pull-right{
		width: 92%;
		padding: 0;
	}
	nav ul li{
		float: left;
		width: 33%;
		text-align: center;
	}
	.container{
		width: 100%;
	}
}

@media screen and (max-width: 400px){
	body{
		padding: 0;
	}
	.well > ul > li{
		width: 98%;
	}
	nav{
		display: block;
		float: none;
		width: 100%;
	}
	nav ul li {
		width: 100%;
	}
	.nav.nav-pills.pull-right{
		padding: 0;
		width: 100%;
	}
	hr{
		margin: 5px 0;
	}
	section .span6px.pull-right{
		height: 100px;
	}
	.well span{
		width: 55px;
		height: 55px;		
	}
	.well .single_post span p{
		width: 70%;
		font-size: 15px;
		margin-top: 8px;
	}
}

