<h2>Para más información comunícate con:</h2>

<ul>
	<li>
		<p><b>Nombre: </b><%= @adoption_pet.pet_contact.name %></p>
	</li>
	<li>
		<p><b>Teléfono: </b><%= @adoption_pet.pet_contact.phone %></p>
	</li>
	<li>
		<p><b>Celular: </b><%= @adoption_pet.pet_contact.mobile %></p>
	</li>
	<li>
		 <p><b>E-mail: </b><%= @adoption_pet.pet_contact.email %></p>
	</li>
</ul>