<h2>Para más información comunícate con:</h2>

<ul>
	<li>
		<p><b>Nombre: </b><%= @adoption_pet.pet_contact.name %></p>
	</li>
	<li>
		<p><b>Teléfono: </b>511 23 45</p>
	</li>
	<li>
		<p><b>Celular: </b>314 567 89 02</p>
	</li>
	<li>
		 <p><b>E-mail: </b><%= @adoption_pet.pet_contact.email %></p>
	</li>
</ul>